<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=<device-width>, initial-scale=1.0'>
    <title>Document</title>
    <script src='./lib/vue-2.4.0.js'></script>
    <link rel='stylesheet' href='./lib/bootstrap-3.3.7.css'>

    <style>
        .v-enter,
        .v-leave-to{
            opacity:0;
            transform:translateX(150px);
        }

        .v-enter-active,
        .v-leave-active{
            transition: all 0.6s ease;
        }
    </style>
</head>
<body>
    <div id='app'>

        <a href="" @click.prevent="comName='login'">login</a>
        <a href="" @click.prevent="comName='register'">register</a>

        <!-- 设置组件切换的模式mode，先出后进 -->
        <transition mode="out-in">
            <component :is="comName"></component>
        </transition>
        
        
    </div>
    <script>

        Vue.component('login',{
            template: '<h3>login</h3>'
        })

        Vue.component('register',{
            template: '<h3>register</h3>'
        })

        var vm = new Vue({
            el: '#app',
            data: {
                comName: 'login',
                flag: true
            },
            methods: {}
        })
    </script>
</body>
</html>